#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    height: 460px;
    width: 460px;
    border: 2px solid black;
    position: relative;
}

div.blank {
    border: 2px solid pink;
    aspect-ratio: 1/1;
}