#container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10%, auto));
    grid-auto-rows: minmax(10%, auto);
    height: 460px;
    width: 460px;
    border: 2px solid black;
}

div.blank::before {
    padding-top: 100%;
    display: block;
    content: '';
}

div.blank {
    display: block;
    border: 2px solid blue;
}